services:
    file_type_extension:
        class: Artgris\Bundle\FileManagerBundle\Twig\FileTypeExtension
        tags:
            - { name: twig.extension }
        arguments: ['@file_type_service']
        public: true

    file_type_service:
        class: Artgris\Bundle\FileManagerBundle\Service\FileTypeService
        arguments: ['@router']
        public: true

    order_extension:
        class: Artgris\Bundle\FileManagerBundle\Twig\OrderExtension
        tags:
            - { name: twig.extension }
        arguments: ['@router']
        public: true

    artgris_bundle_file_manager.service.filemanager_service:
        class: Artgris\Bundle\FileManagerBundle\Service\FilemanagerService
        arguments: ['%artgris_file_manager%', '@service_container']
        public: true