<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="Tests/bootstrap.php"
>

    <testsuites>
        <testsuite name="File Manager Bundle test suite">
            <directory suffix="Test.php">Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="./Tests/Fixtures/App"/>
        <server name="KERNEL_CLASS" value="AppKernel"/>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="zend.enable_gc" value="1"/>
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Controller</directory>
            <directory suffix=".php">./Resources</directory>
            <exclude>
                <directory>./build</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
        <blacklist>
            <directory>./vendor</directory>
            <directory>./Tests</directory>
            <directory>./build</directory>
        </blacklist>
    </filter>
</phpunit>
