body {
    padding-bottom: 20px;
}

.select {
    cursor: pointer
}

.thead-default th {
    color: #464a4c;
    background-color: #eceeef;
}

.bar {
    height: 18px;
    background: green;
}

.alert-file-manager {
    padding: 2px 32px 0 11px;
    margin: 1px 5px;
    display: inline-block;
}

#top-bar {
    padding: 10px 0;
    margin: 3px 0;
}

.select:hover {
    background-color: #f5f5f5;
}

i.fa {
    font-size: 1.4em;
}

.alert > [data-notify="message"] {
    font-size: 80%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.margin-bottom {
    margin-bottom: 20px;
}

.label {
    font-size: 70% !important;
    line-height: 24px !important;
    vertical-align: middle;
}

.jstree {
    background-color: #f9f9f9;
    padding: 10px 5px;
}

.thumbnail {
    padding: 20px 0;
    margin-bottom: 0px;
    border-left: none;
    border-radius: inherit;
    border-top: none;
    border-bottom: 1px #dcdcdc solid;
    border-right: 1px #dcdcdc solid;
}

/*.thumbnail-card {*/
/*display: inline-block;*/
/*height: 200px;*/
/*padding: 20px;*/

/*}*/

/*.thumbnail-card p {*/
/*overflow: hidden;*/
/*}*/

.thumbnail-img {
    min-height: 100px;
}

#thumbnail-blk .fa {
    font-size: 6em;
}

#thumbnail-blk .select {
    padding: 5px 0;
}