body {
    padding-bottom: 20px;
}

.select {
    cursor: pointer
}

.thead-default th {
    color: #464a4c;
    background-color: #eceeef;
}

.bar {
    height: 18px;
    background: green;
}

.alert-file-manager {
    padding: 2px 32px 0 11px;
    margin: 1px 5px;
    display: inline-block;
}

.top-bar {
    padding: 10px 0;
    margin: 3px 0;
}

.select:hover {
    background-color: #d8d8d8;
}

.context-menu-active, .select:focus, .select:active {
    background-color: #beebff;
}

i.fa {
    font-size: 1.4em;
}

.alert > [data-notify="message"] {
    font-size: 80%;
}

.nopadding {
    margin: 0 !important;
}

.margin-bottom {
    margin-bottom: 20px;
}

.label {
    font-size: 70% !important;
    line-height: 24px !important;
    vertical-align: middle;
}

.jstree {
    background-color: #f9f9f9;
    padding: 10px 5px;
}

.thumbnail {
    padding: 20px 14px;
    margin-bottom: 0;
    border-left: none;
    border-radius: inherit;
    border-top: none;
    border-bottom: 1px #dcdcdc solid;
    border-right: 1px #dcdcdc solid;
}

.thumbnail p {
    height: 85px;
}

.thumbnail-img {
    height: 115px;
    padding: 5px;
}

.thumbnail-img img {
    max-width: 100%;
}

.thumbnail-img .fa {
    font-size: 6em;
}

.thumbnail-blk .select {
    padding: 5px 0;
}

.thumbnail-blk div.thumbnail {
    overflow: hidden;
}

.no-tree-blk .thumbnail-blk .select-all {
    padding-left: 5px;
}

.thead-default a {
    color: #464a4c;
}

.thead-default span {
    color: #adadad;
}

.thead-default span.actived {
    color: #337ab7;
}

button i {
    padding-right: 4px;
}

@media only screen and (max-width: 700px) {

    .top-bar button.btn > span {
        display: none;
    }

}

